
.sidebar {
  background-color: #2e3b4e;
  padding: 1rem;
  color: white;
  height: 100vh; /* Set full height for the sidebar */
  width: 250px;
  overflow-y: auto; /* Add vertical scrollbar when content exceeds the sidebar height */
  position: fixed; /* Ensure the sidebar is fixed on the left side */
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.expandCollapseContainer {
  display: flex;
  gap: 1rem; /* Space between the buttons */
  margin-bottom: 1.5rem; /* Space between buttons and the first section */
}

.expandCollapse {
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  border-radius: 5px;
}

.expandCollapse:hover {
  background-color: #e0e0e0;
}

.menu {
  list-style: none;
  padding-left: 0;
}

.menuItem {
  margin-bottom: 1rem; /* Space between sections */
  cursor: pointer;
}

.menuItem div {
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: underline;
}

.submenu {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  color: #ccc;
}

.content {
  margin-left: 270px; /* Adjust the margin so the content is displayed next to the sidebar */
  padding: 20px;
}

