/* Sidebar container */
.sidebar {
  background-color: #F5F6F7; /* Light gray background */
  color: #333; /* Dark gray text */
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Allow scrolling */
  padding-top: 20px;
  border-right: 1px solid #ddd; /* Subtle border on the right */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for slight depth */
}

/* Heading */
.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  padding-left: 15px;
  color: #333;
}

/* Heading H2*/
.heading2 {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 15px;
  padding-left: 15px;
  color: #333;
}

/* Menu items */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333; /* Dark gray text */
}

.sectionHeader {
  font-weight: 550;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333; /* Dark gray */
}

.submenu {
  padding-left: 20px;
}

.link {
  color: #333; /* Dark gray text */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: blue;
}

/* Updated: Active link styling */
.activeLink {
  color: green;
  font-weight: bold;
  text-decoration: underline;
}

/* Expand/Collapse buttons */
.expandCollapseContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
}

.expandCollapseButton {
  background-color: #FFFFFF;
  color: #007BFF;
  border: 1px solid #ddd;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.expandCollapseButton:hover {
  background-color: #EEE;
}

/* Adjust the spacing for each section */
.menuItem + .menuItem {
  margin-top: 5px;
}

.submenu li {
  margin-bottom: 5px;
}

/* Body content styling */
.bodyContent code {
  background-color: #F1F3F4;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
  color: #D32F2F; /* Code text color */
}
